{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="page-header">
                    <h3 class=" page-header my-4 mt-3 text-center text-white"> Home </h3>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <h3 class=" page-header my-4 mt-3 text-center text-blue"> This my doge </h3>
    <a href="https://www.linkedin.com/in/manuel-vassos-685303180/"><img src="{% static '90138.jpeg' %}" class="img-responsive rounded mx-auto d-block"></a>

</body>


{% endblock %}