{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

    <body>

        <div class="site-wrap">

            <div class="site-blocks-cover" id="home-section">

              <div class="container">
                <div class="row justify-content-center">

                    <img src="#{% static 'head-shot.jpeg' %}" alt="Image" class="img-fluid" style="position: absolute;" data-aos="fade">


                  <div class="col-md-12 mt-lg-5 text-left align-self-center text-intro">
                    <div class="row">
                      <div class="col-lg-6">
                        <h1 class="text-black">I'm Manny Vassos</h1>
                        <p class="lead">I'm a Developer Based in the Bay Area</p>
                        <p><a href="#portfolio-section" class="btn smoothscroll btn-primary">Download Resume</a></p>

                      </div>

                      <div class="col-lg-6">
                          <img src="{% static 'head-shot.jpeg' %}" class="rounded-circle">
                      </div>
                    </div>

                  </div>

                </div>
              </div>

                <div class="container mx-auto">
                    <div class="row">

                        <div class="col-sm">
                                <h3 class="text-center">About</h3>
                                <p class="text-justify">
                                    This is the body.
                                </p>
                        </div>

                        <div class="col-sm">
                            <h3 class="text-center">Skills</h3>
                            <p class="text-justify">
                                This is the body.
                            </p>
                        </div>

                    </div>
                </div>



            </div>

        </div>




    </body>


{% endblock %}